<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="winscreen.css">
    <title>Win</title>
</head>

<body>
    <div class="win-wrapper">
        <div class="win-container">
            <h1 class="win-text" id="winner">`Winner` Wins!</h1>
            <p id="winner-choice">`Winner` chose: `choice`</p>
            <p class="loser-text" id="loser">`Opponent` chose: `choice`</p>
            <button id="continue-round">Next Round!</button>
        </div>
    </div>
</body>

</html>